.cart_view_carrito_vacio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;

    .cart_view_carrito_vacio_content {
        font-size: 40px;
        margin-top: 50px;
        color:#D1C280;

        @media screen and (max-width: 396px){
            font-size: 30px;
        }

        @media screen and (max-width: 287px){
            font-size: 25px;
        }

        @media screen and (max-width: 242px){
            font-size: 20px;
        }

        @media screen and (max-width: 204px){
            font-size: 14px;
        }

        @media screen and (max-width: 151px){
            font-size: 9px;
        }

        @media screen and (max-width: 108px){
            font-size: 3px;
        }
    }

    .buton_ir_a_comprar {
        font-size: 20px;
        color:#D1C280;
        background-color:#4D4B29;
        border-radius: 6px;
        padding: 6px;
        margin-top: 23px;

        @media screen and (max-width: 151px){
            font-size: 8px;
        }

        @media screen and (max-width: 108px){
            font-size: 3px;
        }
    }
}

.contenedor_principal_cart_view {
    padding-top: 110px;
}


.Title_cart_view {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #CAD1AB;
    margin-bottom: 10px;
    margin-top: 20px;

    @media screen and (max-width: 329px){
        font-size: 27px;
    }

    @media screen and (max-width: 130px){
        font-size: 17px;
    }

    @media screen and (max-width: 105px){
        font-size: 9px;
    }
}

.cart_view_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .cart_view_content {
        width: 300px;
        margin: 20px;
        background-color: rgb(41, 49, 44);
        border-radius: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .cart_view_content_name {
            text-align: center;
            margin-bottom: 5px;
            padding: 6px;
            color: #D1C280;
            font-size: 16px;

            @media screen and (max-width: 130px){
                font-size: 9px;
            }

            @media screen and (max-width: 105px){
                font-size: 2px;
            }

        }

        img {
            width: 100%;
            border: 15px rgb(41, 49, 44) solid;
            border-radius: 40px;
        }

        .cart_view_content_precio {
            text-align: center;
            margin-bottom: 5px;
            padding: 6px;
            color: #D1C280;
            font-size: 16px;

            @media screen and (max-width: 130px){
                font-size: 9px;
            }

            @media screen and (max-width: 105px){
                font-size: 2px;
            }

        }

        .cart_view_content_cantidad {
            text-align: center;
            margin-bottom: 4px;
            padding: 6px;
            color: #D1C280;
            font-size: 16px;

            @media screen and (max-width: 130px){
                font-size: 9px;
            }

            @media screen and (max-width: 105px){
                font-size: 2px;
            }
        }

        .cart_view_content_button {
            text-align: center;
            margin-bottom: 4px;
            padding: 6px;
            color: #D1C280;
            font-size: 16px;
            background-color: #AD5C39;

            @media screen and (max-width: 105px){
                font-size: 1px;
            }
        }
    }
}
    

.cart_view_content_total {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cart_view_total {
        font-size: 26px;
        margin-bottom: 10px;
        color:#CAD1AB;

        @media screen and (max-width: 200px){
            font-size: 16px;
        }

        @media screen and (max-width: 130px){
            font-size: 9px;
        }

        @media screen and (max-width: 81px){
            font-size: 2px;
        }
    }

    .cart_view_total_boton {
        font-size: 17px;
        margin-bottom: 10px;
        color:#CAD1AB;
        background-color: #AD5C39;
        padding: 5px;
        border-radius: 5px;

        @media screen and (max-width: 200px){
            font-size: 10px;
        }

        @media screen and (max-width: 130px){
            font-size: 4px;
        }

        @media screen and (max-width: 81px){
            font-size: 2px;
        }
    }

    .boton_terminar_compra {
        font-size: 17px;
        margin-bottom: 10px;
        color:#CAD1AB;
        background-color:#4D4B29;
        padding: 5px;
        border-radius: 5px;

        @media screen and (max-width: 200px){
            font-size: 10px;
        }

        @media screen and (max-width: 130px){
            font-size: 4px;
        }

        @media screen and (max-width: 81px){
            font-size: 2px;
        }
    }
}