.header {
    background-color: #9E895C;
    position: fixed;
    width: 100%;


    .header__container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .header__logo {
            font-size: 40px;
            font-weight: 700;
            color: #D9D4B5;

            @media screen and (max-width:1116px){
                margin-left: 20px;
                font-size: 38px;
            }

            @media screen and (max-width:612px){
                margin-left: 20px;
                font-size: 28px;
            }

            @media screen and (max-width:411px){
                margin-left: 20px;
                font-size: 22px;
            }

            @media screen and (max-width:326px){
                margin-left: 20px;
                font-size: 16px;
            }

            @media screen and (max-width:241px){
                margin-left: 20px;
                font-size: 9px;
            }

            @media screen and (max-width:163px){
                margin-left: 20px;
                font-size: 4px;
            }

            @media screen and (max-width:110px){
                margin-left: 20px;
                font-size: 1px;
            }

        }

    }
}

